@media (min-width: 480px) {
    .modal-container {
        align-items: center;
        justify-content: center;
    }
}

.modal-container {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 99;
}

.modal-container .modal-backdrop {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: 1;
    transition: opacity .3s cubic-bezier(.465, .183, .153, .946);
}

.modal-container.active .modal-content {
    transform: translateZ(0);
}
.modal-container .modal-content {
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: var(--white-color);
    width: 90%;
    transition: transform .3s cubic-bezier(.465, .183, .153, .946), -webkit-transform .3s cubic-bezier(.465, .183, .153, .946);
    margin: 10px 10px 10px 10px;
    height: 90%;
    /* border-radius: 12px 12px 12px 12px; */
}

.modal-container .modal-content .modal-header {
    position: relative;
    padding: 10px;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #06d6fa;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.modal-container .modal-content .modal-body {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}