{% extends "Base.html" %}

{% block head %}

<title>
	Home | Users |Change password
</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Admin/Users.css') }}">

{% endblock %}

{% block content %}
<!-- <div class="container">
        <div class="title"> Password Change </div>
        <div class="content">
            <form id="User_Add">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="email" placeholder="Enter your email" id="email" name="email" readonly="yes">
                    </div>

                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" placeholder="Enter your password" id="Pass" name="Pass">
                    </div>

                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input type="password" placeholder="Confirm your password" id="ConPass" name="ConPass">
                    </div>

                    <div class="input-box">
                        <span id="PassCheck" style="color: red;"></span>
                    </div>
                </div>

                <div class="button">
                    <input type="submit" value="Update" id="Update" name="Update">
                </div>
            </form>
        </div>
    </div> -->



<div class="main-section-container">
	<div class="left-content">
		<div class="desc-container">
			<div class="heading">
				<h1> Password Change </h1>
			</div>
		</div>
	</div>

	<div class="right-content">
		<div class="recharge-online-container">
			<div class="tabs-container">
				<div class="tabs-content">
					<div class="tabs-conponent">
						<div class="packs-card-container" id="packs-card-container">
							<form class="row g-3 needs-validation">
								<div class="d-flex flex-wrap">
									
									<div class="col-md-4">
										<label for="email" class="form-label">Email</label>
										<div class="input-group has-validation">
											<span class="input-group-text" id="inputGroupPrepend">@</span>
											<input type="text" class="form-control" aria-describedby="inputGroupPrepend"
												id="email" name="email" readonly required>
										</div>
									</div>

									<div class="col-md-4">
										<label for="Pass" class="form-label">Password</label>
										<input type="password" class="form-control" id="Pass" name="Pass" required>
									</div>

									<div class="col-md-4">
										<label for="ConPass" class="form-label">Confirm Password</label>
										<input type="password" class="form-control" id="ConPass" name="ConPass"
											required>
									</div>

									<div class="col-md-10 mt-4">
										<span id="PassCheck" style="color: red;" class="ms-4"></span>
									</div>

									<div class="col-md-10 mt-4">
										<button class="btn btn-outline-primary" type="submit"
											id="Update">Update</button>
									</div>

								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/Admin/Users.js') }}"></script>

<script>
	$(document).ready(function (event) {
		$.ajax({
			url: '/Admin/User_Code',
			type: 'GET',
			success: function (data) {
				var user_Code = data.user_Code; // Use the first value from the return data
				$('#email').val(user_Code);
			}
		});
	});
</script>

<!-- <script>
    $(document).ready(function () {
        $('#Cancel').click(function (event) {
            event.preventDefault();
            window.location.href = '/Dashboard/Open';
            console.log(window.location.href)
        });
    });
</script> -->

{% endblock %}