{% extends "Base.html" %}

{% block head %}

<title>
	Home | Schedule match
</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/GetSchedule/ScheduleMatch.css') }}">

{% endblock %}

{% block content %}

    <div class="main-section-container">
        <div class="left-content">
            <div class="desc-container">
                <div class="heading">
                    <h1> Scheduled match list </h1>
                </div>
                <button class="btn btn-outline-primary" id="schedule_list"> Get Schedule List</button>
            </div>
        </div>

        <div class="right-content">
            <div class="recharge-online-container">
                <div class="tabs-container">
                    <div class="tabs-header" id="tab-header">
                        <!--fetch from javascript-->
                    </div>

                    <div class="tabs-content">
                        <div class="tabs-single-content" id="tab-content">
                            <!--fetch from javascript-->
                        </div>
                        <div class="tabs-conponent">
                            <div class="packs-card-container" id="packs-card-container">
                                
                            </div>
                        </div>
                    </div>
                </div>
				<!-- <div class="modal-container" id="modal-container">
                
				</div>

				<div class="modal-container" id="preview-container">
                
				</div> -->
            </div>
        </div>

    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="{{ url_for('static', filename='js/GetSchedule/GetScheduleMatch.js') }}" ></script>

{% endblock %}